body, h1 {
	font-family: 'Fira Code', 'Ubuntu Mono', monospace;
}

#Wrapper {
	max-width: 80ch;
	margin: 0 auto;
}

#InitialLoading {
	&.hidden {
		display: none;
	}
}

#Insert {
	padding-left: 30px;
}

#Holder {
	position: relative;
}

.oneTodo {
	display: grid;
	grid-template-columns: 3ch auto;
	grid-template-rows: 1.5rem;
	transition: top 0.5s ease-in-out;
	position: absolute;
	left: 0;

	.todoCheck {
		grid-column: 1/2;
		grid-row: 1/2;
		cursor: pointer;

		span {
			color: transparent;
		}

		&:hover span {
			color: #666;
		}
	}

	.todoText {
		grid-column: 2/3;
		grid-row: 1/2;
		cursor: pointer;
	}

	&.done {
		.todoCheck span {
			color: black;
		}
	}
}


