$yellowBg: hsl(55, 100%, 90%);
$brown: hsl(23, 100%, 15%);
$doneText: hsl(23, 30%, 50%);
$errorBg: hsl(6, 100%, 70%);
$successBg: hsl(116, 100%, 70%);
$infoBg: hsl(55, 100%, 70%);

body, h1 {
	font-family: 'Fira Code', 'Ubuntu Mono', monospace;
	color: $brown;
	font-size: 14pt;
	font-weight: normal;
	line-height: 2.5ch;
}

h1 {
	font-weight: normal;
}

body {
	background-color: $yellowBg;
	padding: 2.5ch 0;
	margin: 0;
}

#Wrapper {
	max-width: 80ch;
	margin: 0 auto;
}

#InitialLoading {
	&.hidden {
		display: none;
	}
}

#Insert {
	padding-left: 4ch;
	height: 5ch;
	input {
		border:none;
		border-bottom: 1px solid black;
		width: 30ch;
		padding: .5ch 1ch;
		font-family: "Fira Code", "Ubuntu Mono", monospace;
		font-size: 14pt;
		background-color: $yellowBg;
	}
}

#Holder {

}

.oneTodo {
	display: grid;
	grid-template-columns: 4ch auto;
	grid-template-rows: 2.5ch;
	transition: top 0.5s ease-in-out;
	left: 0;

	.todoCheck {
		grid-column: 1/2;
		grid-row: 1/2;
		cursor: pointer;

		span {
			color: transparent;
		}

		&:hover span {
			color: $brown;
		}
	}

	.todoText {
		grid-column: 2/3;
		grid-row: 1/2;
		cursor: pointer;
	}

	&.done {

		color: $doneText;

		.todoCheck span {
			color: $doneText
		}
	}
}

#Messages {
	position: absolute; top: 0;
	max-width: 80ch;
	padding: 2ch 0 0 8ch;

	p {
		line-height: 2.5ch;
		padding: 0 1ch;
	}

	p.info{
		background-color: $infoBg;
	}
	p.error{
		background-color: $errorBg;
	}
	p.success{
		background-color: $successBg;
	}
}


