{% extends 'layout.twig' %}

{% block Wrapper %}
    <h1>Tudlů</h1>
    <div id="InitialLoading">
        <p>...</p>
    </div>
    <div id="Insert">
        <form>
            <input type="text" name="text" id="text">
        </form>
    </div>
    <svg id="Holder" width="640" height="1000">
        <text>a</text>
    </svg>
{% endblock %}